.c1{
background-image: url(../imagenes/2345.jpg);
}
.c2{
  background-image: url(../imagenes/3456.jpg);
}
.poe{
  background-image: url(../imagenes/fondo.jpg);
}
.menu{
  font-size:2em;
  width: 250px;
  float:left;
  color: white;
}
h1{
  text-align: center;
  color: white;
}
.parrafo{
  color:white;
  width:960px;
  margin: 0px auto;
  overflow: hidden;
  text-align : justify;
}
.parrafo{
  background-color: black;
  color:white;
  width:960px;
  margin: 0px auto;
  overflow: hidden;
  text-align : justify;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-width: 2px;
  border-top-color: white;
  border-top-style: solid;
  border-bottom-width: 21px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-color: white;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-color: white;
  border-right-style: solid;
}
.sep{
  border-bottom-color: white;
  border-bottom-width: 3px;
}
img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-width: 2px;
  border-top-color: white;
  border-top-style: solid;
  border-bottom-width: 21px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-color: white;
  border-left-style: solid;
  border-right-width: 2px;
  border-right-color: white;
  border-right-style: solid;
}
.indx{
 background-image:url(../imagenes/1234.jpg);
}
.dividx{
  background-color:;
  font-style:monospace;
  width: 600px;
  margin: 0px auto;
  color: white;
  overflow: hidden;
}

.ref1{
  font-size:2em;
  color:white;
  float: left;
}
.menu1{
  color:black;

}
.ref3{
  font-size:2em;
  color:white;
  float: right;
}
.img1{
  float: left;
  width: 45%;
}
.img2{
  float: right;
  width: 45%;
}
.lista{
  color: orange;
  font-size: 2em;
}
.img5{
  width: 40%;
  display:block;
  margin:auto;
}
a:link {color:white;}
a:visited {color:white;}
a:active {color:white;}
a:hover {color:white;}
